articles.article
append styles
	// Custom styles for this template 
	link(rel='stylesheet', type='text/css', href='/css/carousel.css')
block body
	.container.marketing
		// Three columns of text below the carousel
		.row
			if(articles)
				each arti in articles
					.col-lg-12
						if(arti.image)
							img.img-circle(src='../images/' + arti.image, alt='No picture in this article', width='140', height='140')
						h2.marketing=arti.title
						p
							|#{arti.description}
						p
							a.btn.btn-default(href='/details/' + arti.id, role='button') View details »
						form.form-signin(method='post' action='/details/' + arti.id + '/comment')
							h2.form-signin-heading Add Comment:
							label.sr-only(for='username') Enter Username
							input#inputText.form-control(type='text', name='username', placeholder=' write your name', required='', autofocus='')
							label.sr-only(for='content') Enter Comment
							textarea.form-control(type='text', name='content', rows='5', placeholder='write comment here', required='', autofocus='')
							button.btn.btn-lg.btn-primary.btn-block(type='submit') Add 
							a-btn.btn-lg.btn-warning.btn-block(href='/', title="cancel") Cancel
							
			else
				.col-sm-12.blog-main
					h2 No articles
		footer
			p
				a(href='#') Back to top
